.faqs-container {
  width: 100%;
  max-width: 1140px;
  margin: 2rem auto;
}
.faqs {
  margin: 2rem auto 0rem;
  width: 90vw;

  max-width: 600px;
  background: linear-gradient(
    180deg,
    #f5f5f5 0%,
    rgba(255, 255, 255, 0.89) 100%
  );
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}
.single-accordion {
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 0.6rem;
  border-bottom: 1.8px solid #bdbdbd;
}
.single-accordion header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.single-accordion header span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #d19439;
  border: 1.5px solid #d19439;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-accordion .answer {
  height: 0;
  overflow: hidden;
}
.single-accordion .answer p {
  padding: 1rem 0rem;
  font-weight: 300;
  font-size: 15px;
}

.single-accordion .answer.open {
  height: fit-content;
}
