.container {
  padding: 1rem 0.5rem;
  background-color: #f5f5f5;
  border-radius: 5px;
  max-width: fit-content;
  min-width: 150px;
}
.question {
  color: #444;
  font-size: 0.95rem;
  margin-bottom: 0.6rem;
}

.answer {
  position: relative;
}
.answer header {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.answer aside {
  position: absolute;
  top: 101%;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 5px;
  z-index: 3;
}
.answer aside p {
  font-size: 0.95rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
}

.date-selector input {
  display: none;
}

@media screen and (max-width: 700px) {
  .container {
    min-width: 100%;
    width: 100%;
  }
}
